frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/.angular/
frontend/.eslintcache
frontend/.npm/
frontend/package-lock.json

frontend/src/environments/*.ts
!frontend/src/environments/environment.example.ts

frontend/npm-debug.log*
frontend/.vscode/

backend/bin/
backend/obj/
backend/packages/
backend/.vs/
backend/*.vscode/
