
.nav-bar
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 3px solid #000;
}

.nav-text{
    font-size: 2rem;
    font-weight: bold;
}