.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabs-container {
  display: flex;
  align-items: flex-start;
  width: fit-content;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}